[Unit]
Description=Hailo-8 PCIe Accelerator Setup
After=local-fs.target systemd-modules-load.service
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/sbin/insmod /usr/lib/modules/$(uname -r)/extra/hailo_pci.ko'
ExecStart=-/usr/bin/udevadm trigger --subsystem-match=hailo_chardev
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
